@import url("https://fonts.googleapis.com/css2?family=Combo&family=Libre+Baskerville&family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Libre+Baskerville:ital@0;1&family=Ms+Madi&family=Roboto:ital,wght@1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "HK Grotesk wf,sans-serif";
    list-style-type: none;
    color: black;
    text-decoration: none;
}
.slogan{
    margin: 10px;
    font-family: "Ms Madi", cursive;
}